div#aboutItem_visual_wrap{
  width: 100%;
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
}

section#aboutItem_section{
  width: 100%;
  height: 100%;
  background:url('/public/images/aboutItem_visual.jpg')no-repeat center 
}

p#aboutItem_visual_title{
  text-align: center;
  font: bold 42px/200px 'Noto Sans KR';
  color: white;
}
p#aboutItem_visual_text{
  width: 250px;
  height: auto;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -125px;
  font: normal 20px 'Noto Sans KR';
  color: white;
}

div#aboutItemDetail_info_wrap{
  width: 100%;
  /* height: 750px; */
  height: 650px;
  /* 상세이미지 리스트 없애고 높이를 수정 */
  padding: 85px 0px;
  box-sizing: border-box;
}

section#aboutItemDetail_info_section{
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding-left: 50px;
  box-sizing: border-box;
  /* background-color: red; */
}

div#info_section_img_wrap{
  width: 450px;
  height: 100%;
  float: left;
}

div#info_section_img_box{
  width: 100%;
  height: 450px;
  background-color: #e7e7e7;
  padding: 5px;
  box-sizing: border-box;
}

p#aboutItemDetail_info_img{
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
}

p#aboutItemDetail_info_img>img{
  width: 100%;
  height: auto;
  background-color: white;
}

ul#info_section_img_list{
  width: 100%;
  height: 95px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-top: 10px;
}

ul#info_section_img_list>li{
  width: 95px;
  height: 100%;
  background-color: #D9D9D9;
  line-height: 95px;
  text-align: center;
}

div#info_section_font_wrap{
  width: 700px;
  height: 100%;
  float: left;
  margin-left: 50px;
}


div#info_section_title_wrap{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #D9D9D9;
  box-sizing: border-box;
}

p#aboutItemDetail_info_title{
  font: bold 20px/30px 'Inter';
  color: #0B4DC5;
}
p#aboutItemDetail_info_name{
  font: normal 30px/40px 'Inter';
  text-transform: uppercase;
}

div.info_section_text_wrap{
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}
p.aboutItemDetail_info_text{
  font: bold 20px/30px 'Inter'; 
}
p.aboutItemDetail_info_sub_text{
  font: normal 16px/30px 'Inter';
}

div#aboutItemDetail_contents_wrap{
  width: 100%;
  min-height: 2000px;
  padding: 0px 320px;
  box-sizing: border-box;
}
section#aboutItemDetail_contents_top_section{
  width: 100%;
  height: 600px;
  background-color: #FDFDFD;
  border-top: 1px solid black;
  box-sizing: border-box;
}
p#aboutItemDetail_contents_logo{
  width: 150px;
  height: 56px;
  margin: 0 auto;
  margin-top: 80px;
  background:url('/public/images/dalhaelogo.jpg')no-repeat center;
}

p.aboutItemDetail_contents_normal_title{
  font: normal 30px/70px 'Inter';
  color: #ACA9A9;
  text-align: center;
  text-transform: uppercase;
}

p.aboutItemDetail_contents_bold_title{
  font: bold 30px/70px 'Inter';
  color: black;
  text-align: center;
}

section#aboutItemDetail_contents_bottom_section{
  width: 100%;
  height: 600px;
  background-color: #2d6adb;
  position: relative;
  top: 0;
  left: 0;
}

p#aboutItemDetail_contents_img{
  width: 420px;
  height: 420px;
  position: absolute;
  left: 50%;
  margin-left: -210px;
  top: -210px;
  z-index: 9;
  background-color: #f8f8f8;
}

p#aboutItemDetail_contents_img>img{
  width: 100%;
  height: auto;
}

div#aboutItemDetail_contents_list_box{
  width: 1000px;
  height: 250px;
  background-color: red;
  position: absolute;
  left: 50%;
  margin-left: -500px;
  bottom: 70px;
}

ul#aboutItemDetail_contents_list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul#aboutItemDetail_contents_list>li{
  width: 25%;
  border-right: 1px solid white;
  box-sizing: border-box;
  background-color: #5e92f1;
}
ul#aboutItemDetail_contents_list>li:last-child{
  border: none;
}

p.aboutItemDetail_contents_list_Num{
  font: normal 16px/125px 'Noto Sans KR';
  color: white;
  text-align: center;
  text-transform: uppercase;
}

p.aboutItemDetail_contents_list_title{
  font: bold 20px 'Noto Sans KR';
  color: white;
  text-align: center;
}


section#aboutItemDetail_contents_detail_section{
  width: 1000px;
  min-height: 2000px;
  /* background-color: #eeeeee; */
  margin: 0 auto;
}

div#detail_section_text_wrap{
  width: 100%;
  height: 450px;
  padding: 80px 150px;
  box-sizing: border-box;
}

p#detail_section_title{
  width: 150px;
  height: 70px;
  border-radius: 20px;
  background-color: #0B4DC5;
  margin: 0 auto;
  text-align: center;
  font: normal 24px/70px 'Inter';
  color: white;
  text-transform: uppercase;
}

p#detail_section_text{
  margin: 30px 0px;
  font: bold 24px/50px 'Inter';
  text-align: center;
}

p#detail_section_text>span{
  color: #0B4DC5;
}

p#detail_section_subtext{
  font: normal 20px/30px 'Inter';
  text-align: center;
}

div#detail_section_visual{
  width: 800px;
  height: 500px;
  background:url('../../../public/images/detailvisual.png')no-repeat center;
  margin: 0 auto;
}


div#detail_list_wrap{
  width: 100%;
  height: 1180px;
  /* background-color: red; */
}

ul#detail_list{
  width: 100%;
  height: 100%;
}

ul#detail_list>li{
  width: 100%;
  height: 250px;
  margin-bottom: 60px;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
}
ul#detail_list>li:last-child{
  margin-bottom: 0px;
}

p.detail_list_Num{
  width: 150px;
  height: 50px;
  border-radius: 20px;
  background-color: #0B4DC5;
  font: normal 18px/50px 'Inter';
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom:30px;
}

p.detail_list_title{
  font: bold 20px/60px 'Inter';
}

p.detail_list_text{
  width: 600px;
  height: auto;
  font: normal 16px/30px 'Inter';
}
p.detail_list_img{
  width: 300px;
  height: 200px;
  position: absolute;
  top: 25px;
  right: 25px;
}

div#detail_visual{
  width: 100%;
  height: 900px;
  padding: 100px 0px;
  box-sizing: border-box;

}
div#detail_visual>p{
  width: 100%;
  height: 100%;
  background:url('/public/images/detail_sub_visual.png')no-repeat center;
  object-fit: cover;
}

div#detail_visual_title_wrap{
  width: 100%;
  height: 180px;
}

p#detail_visual_title{
  font: normal 24px/60px 'Inter';
  text-align: center;
}

p#detail_visual_text{
  font: normal 20px/60px 'Inter';
  color: #979797;
  text-align: center;
}

div#aboutItemDetail_spec_wrap{
  width: 100%;
  height: 400px;
  /* background-color: #E8E3E3; */
  /* background-color: #eeeeee; */
  
  padding: 50px 320px;
  box-sizing: border-box;
}

table#aboutItemDetail_spec_table{
  width: 100%;
  height: 200px;
  border-bottom: 3px solid black;
  box-sizing: border-box;
  /* background-color: red; */
}

caption#aboutItemDetail_spec_caption{
  font: bold 30px/100px 'Inter';
  text-align: center;
  border-bottom: 3px solid black;
  box-sizing: border-box;
}

tr.aboutItemDetail_spec{
  width: 100%;
  height: 50px;
  /* background-color: blue; */
  border-bottom: 1px dotted black;
}


th.aboutItemDetail_spec_title{
  width: 200px;
  height: auto;
  font: normal 18px/50px 'Inter';
  font-weight: 700;
  text-align: left;
  padding-left: 40px;
  box-sizing: border-box;
  background-color: #f8f8f8;
}
td.aboutItemDetail_spec_text{
  width: 1080px;
  height: auto;
  font: normal 18px/50px 'Inter';
  padding: 0px 10px;
  box-sizing: border-box;
  border-left: 1px dotted black;
}


div#back_aboutItem_wrap{
  width: 100%;
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
}
button#go_aboutItem_btn{
  width: 100px;
  height: 50px;
  background-color: #0B4DC5;
  font: bold 16px/50px 'Inter';
  color: white;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -25px;
}
