div#aboutUs_visual_wrap{
  width: 100%;
  height: 800px;
  background:url('../../../public/images/aboutUs_visual.png') no-repeat center;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
}

p#aboutUs_visual_title{
  width: 200px;
  height: 60px;
  font: bold 42px/60px 'Inter';
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -100px;
}

p#aboutUs_visual_text{
  width: 180px;
  height: 40px;
  font: bold 22px/40px 'Inter';
  color: white;
  position: absolute;
  left: 50%;
  top: 52%;
  margin-left: -90px;
}
div#aboutUs_contents_wrap{
  width: 100%;
  min-height: 3000px;
  padding: 200px 160px;
  box-sizing: border-box;
}

section#aboutUs_contents_section{
  width: 100%;
  height: 100%;
}

div#aboutUs_contents_title_box{
  width: 100%;
  height: 90px;
  margin-bottom: 150px;
}

p.aboutUs_contents_title{
  font: bold 30px/45px 'Inter';
  color: black;
}

div#aboutUs_contents_text_box{
  /* width: 100%; */
  width: 1035px;
  height: 175px;
  margin-bottom: 150px;
}

ul#aboutUs_contents_text_list{
  width: 100%;
  height: 100%;
}

ul#aboutUs_contents_text_list>li{
  width: 265px;
  height: 100%;
  float: left;
  margin-right: 120px;
}

ul#aboutUs_contents_text_list>li:nth-child(3){
  margin-right: 0px;
}

p.aboutUs_contents_text_Num{
  font: bold 32px 'Inter';
}

p.aboutUs_contents_text_title{
  font: bold 30px 'Inter';
  margin: 20px 0px;
}

p.aboutUs_contents_text_text{
  font: bold 16px 'Inter';
  color: #5F5F5F;
}

div#aboutUs_contents_box{
  width: 100%;
  /* height: 2000px; */
  height: auto;
  margin-bottom: 150px;
}

ul#aboutUs_contents_box_list{
  width: 100%;
  height: 100%;
}

ul#aboutUs_contents_box_list>li{
  width: 100%;
  height: 500px;
  margin-bottom: 200px;
  position: relative;
  top: 0;
  left: 0;
}

div.aboutUs_contents_box_text{
  width: 800px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

p.aboutUs_contents_box_title{
  width: auto;
  height: auto;
  font: bold 32px 'Inter';
  margin-bottom: 80px;
}

p.aboutUs_contents_box_subtitle{
  width: 500px;
  height: auto;
  font: normal 24px 'Inter';
  margin-bottom: 80px;
}

p.aboutUs_contents_box_hashtag{
  font: bold 20px 'Inter';
  color: #0B4DC5;
  margin-bottom: 80px;
}

p.aboutUs_contents_box_text{
  width: 800px;
  height: auto;
  text-align: justify;
  font: normal 16px 'Inter';
  color: #5F5F5F;
}

p.aboutUs_contents_box_img{
  width: 500px;
  height: 500px;
  position: absolute;
  right: 0;
  top: 0;
}

p.aboutUs_contents_box_img>img{
  width: 100%;
  height: auto;
}

p#aboutUs_contents_box_img{
  width: 500px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 0;
}

p#aboutUs_contents_box_img>img{
  width: 100%;
  height: auto;
}

div#aboutUs_contents_box_text{
  width: 800px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

div#aboutUs_map{
  width: 100%;
  height: 1000px;
}

div#aboutUs_title_wrap{
  width: 100%;
  height: 130px;
  padding: 30px 0px;
  box-sizing: border-box;
}

p#aboutUs_top_title{
  width: 56px;
  height: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}



p#aboutUs_top_title>span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  
}

span#span_first{
  background-color: black;
}
span#span_second{
  background-color: #0B4DC5;
}
span#span_third{
  background-color: #39A1AB;
}

p#aboutUs_title{
  width: 100%;
  height: auto;
  font: bold 2em/60px 'Inter';
  text-align: center;
  color: #0B4DC5;
}


Map#aboutUs_map_wrap{
  width: 1400px;
  height: 800px;
  margin: 0 auto;
}

